asgiref==3.10.0
django==4.2.25
sqlparse==0.5.3
typing-extensions==4.15.0
tzdata==2025.2
djangorestframework==3.16.1
python-dotenv==1.1.1
django-allauth==65.13.1
boto3==1.40.72
boto3-stubs==1.41.4
mypy-boto3-s3==1.41.1
mypy-boto3-secretsmanager==1.41.0
mypy-boto3-ses==1.41.0
uvicorn==0.38.0
a2wsgi==1.10.10
django-allauth==65.13.1
psycopg2-binary==2.9.11
django-cors-headers==4.9.0
