{% load i18n admin_urls static %}

{% if app_list %}
  {% for app in app_list %}
    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
      <table>
        <caption>
          <a href="{{ app.app_url }}" class="section">{{ app.name }}</a>
        </caption>
        <thead>
          <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col" class="text-center">{% trans 'Add' %}</th>
            <th scope="col" class="text-center">{% trans 'Change' %}</th>
            {% if app.app_label != "auth" %}
              <th scope="col" class="text-center">Import</th>
              <th scope="col" class="text-center">Export</th>
            {% else %}
              <th scope="col" class="text-center">&nbsp;</th>
              <th scope="col" class="text-center">&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for model in app.models %}
          <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
            {% if model.admin_url %}
              <th scope="row"><a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>{{ model.name }}</a></th>
            {% else %}
              <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
              <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url and show_changelinks %}
              {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
              {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
              {% endif %}
            {% elif show_changelinks %}
              <td>&nbsp;</td>
            {% endif %}

            <td class="text-center">
              {% if app.app_label != "auth" %}
                {% url 'admin:'|add:app.app_label|add:'_'|add:model.object_name|lower|add:'_import' as import_url %}
                {% if import_url %}
                  <a class="addlink" href="{{ import_url }}">Import</a>
                {% else %}
                  &nbsp;
                {% endif %}
              {% else %}
                &nbsp;
              {% endif %}
            </td>
            <td class="text-center">
              {% if app.app_label != "auth" %}
                {% url 'admin:'|add:app.app_label|add:'_'|add:model.object_name|lower|add:'_export' as export_url %}
                {% if export_url %}
                  <a class="changelink" href="{{ export_url }}">Export</a>
                {% else %}
                  &nbsp;
                {% endif %}
              {% else %}
                &nbsp;
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% else %}
  <p>{% translate "You don't have permission to view or edit anything." %}</p>
{% endif %}
