:root {
  --fc-today-bg-color: var(--color-primary-50);
  --fc-event-bg-color: var(--color-primary-500);
  --fc-event-border-color: var(--fc-event-bg-color);
  --fc-border-color: var(--ui-border);
}

.dark {
  --fc-today-bg-color: var(--color-primary-950);
  --fc-event-bg-color: var(--color-primary-400);
}

.fc-toolbar-title {
  font-size: 26px;
  font-weight: 700;
}

.fc-event {
  /* background-color: var(--fc-event-bg-color); */
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-weight: 600;
}
